# Don't ignore the .gitignore file
*
!.gitignore

# Don't ignore the index.html file
!index.html

# Don't ignore the css folder and its contents
!/css/
!/css/**
!/sass/
!/sass/**
!/package.json
!/package-lock.json

# Don't ignore the images folder and its contents
!/images/
!/images/**
!script.js
!floated_div.js
